:root {
  /* colors */

  /* dimens */
}

body,
html {

}

#root {

}

/* App Design*/

.App {
  width: 100%;
}

/* Login Design*/
.Login {
  width: 100vw;
}

.Login
.loginCol {
  min-height: 100vh;
}

.Login form {
  width: 100%;
  transform: translateY(30vh);
}
