:root {
  /* colors */

  /* dimens */
  --topBarHeight: 70px;
  --navMenuWidth: 350px;

  --ultraHighIndex: 1100;
  --highIndex: 1000;
  --midIndex: 100;
  --lowIndex: 0;
}

/* ------ General Styling ------- */

body,
html {

}

#root {

}

* {
  transition: all .2s ease;
}

/* --------------App Design-----------*/

.App {
  width: 100%;
}

/* ----------Login Design---------*/
.Login {
  width: 100vw;
}

.Login
.loginCol {
  min-height: 100vh;
}

.Login form {
  width: 100%;
  transform: translateY(30vh);
}


/* -----------Nav Designs----------- */

.Nav {

}

.Nav .navMenu {
  position: fixed;
  width: var(--navMenuWidth);
  z-index: var(--ultraHighIndex);
  height: 100%;
  background: var(--success);
  top: 0;
  left: 0;
  bottom: 0;
}

/* integrating navmenu behaviours */
.Nav .navMenu[data-menu="default"] {
  left: 0;
}

.Nav .navMenu[data-menu="opened"] {
  left: 0;
}

.Nav .navMenu[data-menu="closed"] {
  left: -500px;
}


.Nav .topBar {
  position: fixed;
  width: calc( 100vw - var(--navMenuWidth) );
  z-index: var(--ultraHighIndex);
  height: var(--topBarHeight);
  background: var(--dark);
  top: 0;
  right: 0;
}

.Nav .topBar[data-menu="default"] {
  width: calc( 100vw - var(--navMenuWidth) );
}

.Nav .topBar[data-menu="opened"] {
  width: calc( 100vw - var(--navMenuWidth) );
}

.Nav .topBar[data-menu="closed"] {
  width: 100vw;
}

.Nav .topBar .menuIcon {
  margin: 0 !important;
  margin-left: 20px !important;
  width: 30px;
  height: 30px;
  color: var(--light);
  cursor: pointer;
}

.Nav .topBar .topTitle {
  margin: 0 !important;
  margin-left: 20px !important;
  color: var(--light);
}


@media (max-width: 768px) {
  .Nav .topBar {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
  }

  .Nav .topBar[data-menu="default"],
  .Nav .topBar[data-menu="opened"],
  .Nav .topBar[data-menu="closed"] {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
  }

  .Nav .topBar[data-menu="opened"] {
    z-index: var(--highIndex);
  }

  .Nav .navMenu {
    left: -500px;
  }

  .Nav .navMenu[data-menu="opened"] {
    width: var(--navMenuWidth);
    z-index: var(--ultraHighIndex);
  }

  .Nav .navMenu[data-menu="default"],
  .Nav .navMenu[data-menu="closed"] {
    left: -500px;
  }
}

/*-----------------MainBody Designs -----------------*/
.MainBody {
  margin: 0;
  margin-left: var(--navMenuWidth);
  padding: 10px;
  padding-top: calc( var(--topBarHeight) + 10px );
  width: calc( 100vw - var(--navMenuWidth) );
}

/* integrating navmenu behaviours */
.MainBody[data-menu="default"] {
  margin-left: var(--navMenuWidth);
  width: calc( 100vw - var(--navMenuWidth) );
}

.MainBody[data-menu="opened"] {
  margin-left: var(--navMenuWidth);
  width: calc( 100vw - var(--navMenuWidth) );
}

.MainBody[data-menu="closed"] {
  margin-left: 0;
  width: 100vw;
}


@media (max-width: 768px) {
  .MainBody {
    width: 100%;
    margin: 0;
  }

  .MainBody[data-menu="default"],
  .MainBody[data-menu="opened"],
  .MainBody[data-menu="closed"] {
    width: 100%;
    margin: 0;
  }
}
